.image-deck {
    border: solid 4px;
    width: 100px;
}

.image-deck:hover {
}

img {
    border: solid 4px;
    width: 100px;
}

.piles-cards {
    border-radius: 10px;
    height: 14em;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    background: radial-gradient(#fbc1cc, #fa99b2);
}

div p {
    position: relative;
    bottom: 100px;
    left: 50px;
    background-color: #ff9999;
    border: solid 4px;
    border-radius: 30px;
    border-color: #c20000;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}
